<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'css/style.css' | url }}">
    <meta property="og:title" content="jbcarreon123">
    <meta property="og:site_name" content="jb's website">
    <meta property="og:description" content="A student and open-source software developer.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/raw_img/site.png">
    <title>jbcarreon123</title>
</head>
<body>
    <div class="navbar font-sec">
        <div class="navbar-center">
            <a class="nav-link" href="/blogs">Blogs</a>
            <a class="nav-link" href="/projects">Projects</a>
        </div>
    </div>
    <div class="container">
        <div class="title font-pri">
            jbcarreon123
        </div><br/>
        <div class="links">
            <a class="icon-link" href="https://github.com/jbcarreon123" title="jbcarreon123"><i class="fa-brands fa-github"></i></a>
            <a class="icon-link" href="https://youtube.com/@jbcarreon123" title="@jbcarreon123"><i class="fa-brands fa-youtube"></i></a>
            <a class="icon-link" href="https://twitch.tv/jbcarreon123" title="jbcarreon123"><i class="fa-brands fa-twitch"></i></a>
            <a class="icon-link" href="https://discord.gg/P5ecFZNyCc" title="jbCord"><i class="fa-brands fa-discord"></i></a>
            <a class="icon-link" href="https://fosstodon.org/@jbcarreon123" title="jbcarreon123@fosstodon.org"><i class="fa-brands fa-mastodon"></i></a>
            <a class="icon-link" href="irc://irc.libera.chat/jbcarreon123" title="#jbcarreon123 on irc.libera.chat"><i class="fa-solid fa-hashtag"></i></a>
        </div>
    </div>
</body>
</html>


